server:
  port: 8484

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/spring
    username: root
    password: mariadb
  jpa:
    # SQL??? ?? ? ?? DBMS? ???? ??? ????
    database-platform: org.hibernate.dialect.MariaDB106Dialect
    hibernate:
      # ddl? ???? ??
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true   # SQL ??? ????? ??? ?? ??
    database: mysql  # DBMS ?? ??
  servlet:
    multipart:
      max-file-size: 3MB   # 1개의 파일의 최대업로드 사이즈
      max-request-size: 20MB  # 1번 요청에 들어올 최대 업로드 사이즈



logging:
  level:
    root: info
    org.hibernate.SQL: debug
    com.study.todoapi: debug

jwt:
  secret: /G6WJKGRhFp3a4p4dUXAUVdFlxw2piECNh2FA9gAQUoisEe391B8uxuZi8pbqFVhj8xP8YRHANnxPQv1Wj3a3w==

upload:
  path: /Users/superstar/spring-prj/upload

